@import "../../../styles/_vars.scss";
// $songActiveAmount: 5%;

.songRow {
  &:nth-last-child(1) {
    td {
      border-bottom: none;
    }
  }
  &:hover {
    td {
      @extend %lightenBackground;
    }
    .cartButton {
      background-color: map-get($map: $webPaletteColors, $key: "active");
      .basketDone {
        display: none;
      }
      .basketRemove {
        display: grid;
        grid-auto-flow: column;
        transform: translateX(4px);
        .removeIcon {
          font-size: 20px;
          color: map-get($map: $webPaletteColors, $key: "error");
          background: rgba(255, 255, 255, 0.5);
          border-radius: 50%;
          transform: translateX(-6px) translateY(8px);
        }
      }
    }
    .addToLikedButton {
      background-color: transparent;
      color: map-get($map: $webPaletteColors, $key: "active");
    }
    .likeSongCell {
      svg {
        color: map-get($map: $webPaletteColors, $key: "active");
        cursor: pointer;
      }
    }
    .shoppingCart {
      display: inline;
    }
    .hoverPlay {
      display: grid !important;
    }
  }
  .shoppingCart {
    display: none;
  }
  .songImageCell {
    display: grid;
    align-content: center;
    .songImage {
      display: block;
      background-color: #dbdbdb;
      width: 50px;
      height: 50px;
      border-radius: 6px;
      overflow: hidden;
      position: relative;
      .musicNoteIcon {
        display: grid;
        justify-content: center;
        align-content: center;
        height: inherit;
        width: inherit;
        svg {
          font-size: 1.7rem;
        }
      }
      img {
        // width: 100%;
        height: 100%;
      }
      .hoverPlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: none;
        justify-content: center;
        align-content: center;
        svg {
          font-size: 30px;
          color: map-get($map: $webPaletteColors, $key: "accent");
          padding: 5px;
          background-color: rgba(255, 255, 255, 0.9);
          border-radius: 50%;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .likeSongCell {
    display: grid;
    justify-content: center;
  }
  .artistCell {
    a {
      width: fit-content;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  td {
    @extend %darkenFont;
    border-bottom: 1px solid
      darken($color: $fontMainColor, $amount: $amounFontDarken);
    &:nth-child(2) {
      color: white;
    }
    &:first-child {
      padding-left: 25px;
    }
    &:last-child {
      padding-right: 25px;
      padding-left: 0;
    }
  }
  .basketRemove {
    display: none;
  }
  .cartButton {
    padding: 5px;
    color: white;
    .basketDone {
      color: map-get($map: $webPaletteColors, $key: "active");
      display: grid;
      grid-auto-flow: column;
      transform: translateX(4px);
      .doneIcon {
        color: map-get($map: $webPaletteColors, $key: "success");
        transform: translateX(-6px) translateY(8px);
        background: rgba(255, 255, 255, 0.2);
        font-size: 18px;
        border-radius: 50%;
      }
    }
  }
  .addToLikedButton {
    color: white;
  }
}
.songRowActive {
  td {
    @extend %lightenBackground;
  }
}
