@import "../../styles/_vars.scss";
.audioPlayer {
  border-top: 4px double $playlistFontColor;
  color: white;
  align-self: end;
  padding: 0 25px 10px 25px;
  position: sticky;
  width: 750px;
  bottom: 0;
  background-color: #282828;
  .playerProgress {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 10px;
    padding: 4px 0;
    .progressTime {
      color: #dfdfdf;
      font-size: 12px;
    }
    // .playerProgressLine {
    //   display: block;
    //   height: 4px;
    //   width: 100%;
    //   background-color: $playlistFontColor;
    //   border-radius: 2px;
    //   &::after {
    //     content: "";
    //     width: var(--width-line-after);
    //     height: 4px;
    //     border-radius: 2px;
    //     background-color: white;
    //     position: absolute;
    //   }
    // }
  }

  .audioPlayerBottom {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
  .songTitle {
    display: grid;
    grid-auto-flow: row;
    justify-self: start;
    .title {
      font-size: 15px;
    }
    .artist {
      font-size: 14px;
      color: $playlistFontColor;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .volumeCart {
    justify-self: end;
    display: grid;
    grid-auto-flow: column;
    gap: 18px;
    .volume {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: auto 1fr;
      align-items: center;
      grid-gap: 4px;
      gap: 10px;
      width: 105px;
    }
  }
}
