$googleColor: #db4437;
$facebookColor: #3b5998;

$playlistBgColor: #252525;
$playlistFontColor: #717175;
$playlistAddColor: #0883fc;
$playlistAddColorClick: #006fe8;

//Web color palette
// $mainBGColor: #252525;
$mainBGColor: #2c2c3c;
$activeColor: #25b55c;
$accentColor: #0883fc;
$fontMainColor: #fff;
$fontGreyColor: #717175;

$songHoverColor: #ffffff0c;

//Heights
$headerHeight: 100px;
