$googleColor: #db4437;
$facebookColor: #3b5998;

$playlistBgColor: #252525;
$playlistFontColor: #717175;
$playlistAddColor: #0883fc;
$playlistAddColorClick: #006fe8;

//Web color palette
$mainBGColor: #252525;
$activeColor: #25b55c;
$accentColor: #6174a2;
$fontMainColor: #fff;
$fontGreyColor: #717175;
