$googleColor: #db4437;
$facebookColor: #3b5998;

//Web color palette
$mainBGColor: #252525;
// $mainBGColor: #2c2c3c;
$activeColor: darkorange;
$accentColor: #0883fc;
$fontMainColor: #fff;
$amountBGLighten: 5%;
$amountBGDarken: 50%;
$amounFontLighten: 10%;
$amounFontDarken: 60%;

$radius: 3px;

$webPaletteColors: (
  "active": darkorange,
  "accent": #0883fc,
  "success": #44bba4,
  "background": #252525,
  "fonts": #fff,
  "error": #ed4337,
);

$headerHeight: 100px;

%darkenFont {
  color: darken($color: $fontMainColor, $amount: $amounFontDarken);
}
%lightenFont {
  color: lighten($color: $fontMainColor, $amount: $amounFontLighten);
}
%darkenBackground {
  background-color: darken($color: $mainBGColor, $amount: $amountBGDarken);
}
%lightenBackground {
  background-color: lighten($color: $mainBGColor, $amount: $amountBGLighten);
}
