@import "../../styles/_vars.scss";
$card-border: 5px;
$card-description: 100px;
.card {
  width: inherit;
  height: 300px;
  overflow: hidden;
  display: grid;
  background-color: white;
  color: map-get($map: $webPaletteColors, $key: "background");
  border-radius: 10px;
  transition: 0.4s all ease;
  position: relative;
  padding: 5px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
  &:hover {
    .play {
      display: block;
    }
    // transform: scale(1.02);
  }
  .image {
    width: inherit;
    height: inherit;
    span {
      width: inherit;
      height: inherit;
      img {
        border-radius: 10px;
        object-fit: cover;
        width: 100%;
        max-height: 100%;
      }
    }
  }
  .play {
    // display: none;
  }
  .cardDescription {
    position: absolute;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    display: grid;
    align-self: end;
    transform: translateY(-5px) translateX(5px);
    border-radius: 0 0 5px 5px;
    color: white;
    width: calc(100% - 10px);
    height: $card-description;
    grid-auto-flow: column;

    .title {
      justify-self: start;
      align-self: end;
      margin-left: 30px;
      margin-bottom: 15px;
    }
    .play {
      justify-self: end;
      align-self: end;
      margin-right: 30px;
      margin-bottom: 3px;
      cursor: pointer;
      svg {
        font-size: 60px;
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
}
