@import "../../styles/_vars.scss";
.playlistContainer {
  height: 60vh;
  display: grid;
  justify-content: end;
  overflow: auto;
  overflow-x: hidden;
  // Start Table styles
  table {
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    color: white;
    // grid-template-columns: 100px 150px 150px 100px 100px;
    grid-template-columns:
      minmax(100px, 1fr) minmax(150px, 3fr) minmax(150px, 3fr)
      minmax(50px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
  }

  thead,
  tbody,
  tr {
    display: contents;
  }
  %table-cell {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th {
    @extend %table-cell;
    @extend %darkenFont;
    text-align: left;
    font-weight: normal;
    position: sticky;
    top: 0;
    z-index: 2;
    font-size: 15px;
    padding: 0 0 0 15px;
    &:last-child {
      border: 0;
    }
  }

  td {
    @extend %table-cell;
    display: grid;
    align-content: center;
    padding: auto {
      top: 10px;
      bottom: 10px;
    }
  }
  // End Table styles
  .playlistTable {
  }
}
