@import "../../styles/_vars.scss";
// .playlistContainer::-webkit-scrollbar {
//   width: 6px;
// }
// .playlistContainer::-webkit-scrollbar-track {
//   background: #444;
// }
// .playlistContainer::-webkit-scrollbar-thumb {
//   background-color: #444;
//   border-radius: 6px;
//   border: 3px solid #dbdbdb;
// }
.playlistContainer {
  @extend %mozillaScrollBar;
  @extend %chromeSafariScrollBar;
  height: 60vh;
  display: grid;
  justify-content: end;
  overflow: auto;
  overflow-x: hidden;
  table {
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    color: white;
    grid-template-columns:
      minmax(100px, 1fr) minmax(150px, 3fr) minmax(150px, 3fr)
      minmax(50px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
  }
  thead,
  tbody,
  tr {
    display: contents;
  }
  %table-cell {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th {
    @extend %table-cell;
    @extend %darkenFont;
    text-align: left;
    font-weight: normal;
    position: sticky;
    background-color: map-get($map: $webPaletteColors, $key: "background");
    top: 0;
    z-index: 2;
    font-size: 15px;
    padding: 0 0 0 15px;
    &:last-child {
      border: 0;
    }
  }

  td {
    @extend %table-cell;
    display: grid;
    align-content: center;
    padding: auto {
      top: 10px;
      bottom: 10px;
    }
  }
  // End Table styles
  .playlistTable {
  }
}

@media (max-width: 768px) {
  .playlistContainer {
    justify-content: stretch;
  }
  table {
    grid-template-columns:
      minmax(50px, 70px) minmax(150px, 3fr)
      minmax(100px, 1fr) minmax(100px, 1fr) !important;
    thead {
      display: none !important;
    }
    td {
      padding: 10px 10px 10px 5px !important;
    }
  }
  .playlistTable {
    &__artist {
      display: none;
    }
    &__time {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .playlistContainer {
    justify-content: stretch;
  }
  table {
    grid-template-columns:
      minmax(50px, 70px) minmax(150px, 3fr)
      minmax(50px, 1fr) !important;
    thead {
      display: none !important;
    }
    td {
      padding: 10px 10px 10px 5px !important;
    }
  }
  .playlistTable {
    &__artist {
      display: none;
    }
    &__time {
      display: none;
    }
    &__addToFavourite {
      display: none;
    }
    &__price {
      display: none;
    }
  }
}
