@import "../../styles/_vars.scss";
// @use "sass:map";

.header {
  display: grid;
  nav {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 40px;
    font-size: 20px;
    align-content: center;
    .link {
      color: #fff;
    }
    .activeLink {
      color: map-get($map: $webPaletteColors, $key: "accent");
    }
  }
  .rightContols {
    position: absolute;
    left: 80vw;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    height: $headerHeight;
    gap: 20px;
  }
}
