.headset {
  position: absolute;
  font-size: 250px !important;
  transform: rotate(25deg);
  color: #f26a6a;
<<<<<<< HEAD
  top: 10vh;
  right: 20vw;
=======
  transform: translateX(70px) translateY(100px) rotate(25deg);
>>>>>>> 0b9ccaf9198a3634340cc8c0fc0a9ef1953c498e
}
