@import "../../../../styles/_vars.scss";
.modal {
  // background-image: linear-gradient(
  //   20deg,
  //   map-get($map: $webPaletteColors, $key: "background") 80%,
  //   map-get($map: $webPaletteColors, $key: "active")
  // );
  background-image: radial-gradient(
    circle at bottom left,
    map-get($map: $webPaletteColors, $key: "background") 90%,
    map-get($map: $webPaletteColors, $key: "active") 100%
  );
  color: white;
  border: none;
  border-radius: 5px;
  margin: 0 5%;
  box-sizing: border-box;
  padding: 10px 20px;
  width: 800px;
  min-width: 300px;
  height: 400px;
  position: relative;
  display: grid;
  grid-template-rows: 50px 1fr;
  &:focus {
    outline: none;
  }
  .options {
    display: grid;
    grid-template-columns: 1fr 40px 1fr;
    height: 100%;
    box-sizing: border-box;
    .loginForm {
      padding: 0 10px;
      display: grid;
      align-content: center;
      .socialLogin {
        display: grid;
        justify-items: center;
        gap: 10px;
        margin-top: 20px;
        p {
          text-transform: lowercase;
          color: rgba(255, 255, 255, 0.5);
        }
        .socialIcons {
          display: grid;
          grid-auto-flow: column;
          gap: 12px;
          svg {
            color: white;
            padding: 10px;
            border-radius: 50%;
            width: 30px;
            height: 30px;
          }
          .facebookIcon {
            background-color: $facebookColor;
          }
          .googleIcon {
            background-color: $googleColor;
          }
        }
      }
    }
    .separator {
      justify-self: center;
      display: grid;
      height: 100%;
      width: 1px;
      background-color: rgba(255, 255, 255, 0.1);
      align-content: center;
      justify-content: center;
      span {
        background-color: map-get($map: $webPaletteColors, $key: "background");
        padding: 10px 0;
      }
    }
    .signUp {
      display: grid;
      justify-content: center;
      align-content: center;
      button {
        color: white;
        width: 150px;
        height: 40px;
        color: map-get($map: $webPaletteColors, $key: "active");
        border: 1px solid map-get($map: $webPaletteColors, $key: "active");
        transition: all 0.3s;
        &:hover,
        &:focus {
          box-shadow: inset 151px 0 0 0
            map-get($map: $webPaletteColors, $key: "active");
          color: white;
          border: 1px solid white;
          padding-left: 30px;
          svg {
            color: white;
          }
        }
      }
    }
  }
  .closeModal {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
    border-radius: 50%;
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      transform: rotateZ(180deg);
    }
  }
  .curvedShape {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 120px;
    height: 80px;
    background-color: map-get($map: $webPaletteColors, $key: "active");
    border-radius: 40% 25% 29% 72% / 59% 39% 52% 41%;
    display: grid;
    justify-items: center;
    align-items: center;
    filter: drop-shadow(
      0 0 0.75rem map-get($map: $webPaletteColors, $key: "active")
    );
    img {
      width: 60%;
    }
  }
}

@media (max-width: 768px) {
  .modal {
    height: 450px;
    max-width: 500px;
    .options {
      grid-template-columns: 1fr;
      .separator {
        height: 1px;
        width: 100%;
        span {
          padding: 0 10px;
        }
      }
      .socialLogin {
        margin-top: 10px !important;
        .socialIcons {
          svg {
            color: white;
            padding: 10px;
            border-radius: 50%;
            width: 20px !important;
            height: 20px !important;
          }
        }
      }
    }
    .curvedShape {
      display: none;
    }
  }
}
